
  .bottom-text {
    bottom: 0px;
    padding-top: 20%;
  }

  .main-content {
    color: #f3f3f3;
    margin-top: 10%;
    line-height: 1;
    padding-top: 2%;
    padding-left: 10%; 
    margin-right: auto;
    animation: transitionOpacity 0.75s;
    transition-duration: 350ms;
    transition-property: color, transform, ;
  }


  